open {
    color:#F0360F;
}
taiko {
    color:#33BEF7;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
    'navbar header'
    'navbar content';
    gap: 10px;
}

header, content, nav, table, th, tr, td {
    border: 1px black solid;
}

header {
    padding: 0 10px;
    grid-area: header;
    height: 150px;
}
content {
    padding: 10px;
    grid-area: content;
}

nav {
    height: max-content;
    position: sticky;
    top: 8px;
    
    display: block;
    padding: 10px;
    grid-area: navbar;
}
nav a {
    display: grid;
    margin: 10px auto;
}
nav a.h2 {
    text-indent: 5%;
}
nav a.h3 {
    text-indent: 10%;
}
nav a,
nav a:hover,
nav a:active,
nav a:visited {
    color: blue;
}

table {
    width:80%;
    text-align: center;
}
th.sub {
    padding: 15px 15px;
}
tbody td {
    padding: 10px;
}