html {
    color:white;
    background-color:rgb(48, 48, 48);
}

header, content, nav, table, th, tr, td {
    border: 1px gray solid;
}

nav a,
nav a:hover,
nav a:active,
nav a:visited {
    color: rgb(0, 183, 255);
}